*{
    margin: 0;
    padding: 0;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 0 120px;
}

h1{
    font-size: 72px;
    font-size: 84px;
}

h2{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}

h3{
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
}

h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.navbar{
    background: #FFFFFF;
}

.nav-container{
    width: 1440px;
    padding: 16px 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container img{
    width: 139px;
    height: 60px;
}

.nav-container ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-container a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.hero{
    text-align: center;
    background-image: url(./assets/her-bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.hero-contant{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.hero-contant h1{
    width: 800px;
    color: #FFFFFF;
}

.hero-contant h1 span{
    color: #30B868;
}

.hero-contant p{
    color: #FFFFFF;
    width: 620px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.hero-cta{
    display: flex;
    align-items: center;
    gap: 16px;
}

.secondery-btn:hover{
    background-color: black;
}

.secondery-btn{
    border-color: #FFFFFF;
    background-color: transparent;
    border-radius: 4px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.secondery-btn img{
    width: 20px;
    height: 20px;
}

.not{
    padding-top: 40px;
}

.not-top-block{
    text-align: center;
    margin-bottom: 44px;
}

#not h2{
    color: #001931;
    margin-bottom: 16px;
}

#not P{
    color: #627382;
}

.not-cards{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.not-card{
    border-radius: 8px;
    padding: 24px;
    width: 25%;
    box-shadow: 0px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.not-card-icon{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 100%;
}

.not-card-icon img{
    width: 32px;
    height: 32px;
}

.not-card h3{
    color: #001931;
    margin-top: 16px;
    margin-bottom: 16px;
}

.not-card p{
    color: #627382;
}

.solution-padding{
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.Solution-right{
    width: 600px;
    height: 600px;
}

.Solution-left{
    width: 700px;
}

.caption-text{
    font-weight: 500;
    color: #469165;
    text-transform: uppercase;
}

.Solution-left h2{
    color: #001931;
    width: 515px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.Solution-left p{
    width: 493px;
    color: #627382;
   
}

.list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}

.list-items{
    display: flex;
    align-items: center;
    gap: 6px;
}

.list-items img{
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.list-items p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #001931;
}

.cta-contant{
    padding: 80px 0;
    background-color: #F7F6F2;
    text-align: center;
    margin-bottom: 120px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-contant h2{
    color: #001931;
    margin-bottom: 16px;
}

.cta-contant p{
    color: #627382;
    margin-bottom: 24px;
}

.btn{
    padding: 12px;
    background-color: #469165;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn img{
    width: 20px;
    height: 20px;
}

.btn:hover{
    background-color: black;
}

.bottom-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #627382;
    margin-top: 16px;
}

.dot{
    height: 4px;
    width: 4px;
    background-color: #627382;
    border-radius: 100%;
}

.footer{
    border: 1px solid black;
    padding: 120px 0px 30px 0;
    background-color: #001931;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-brand{
    width: 139px;
    height: 60px;
}

.footer-right h4{
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-link{
    display: flex;
    gap: 16px;
}

.footer-social-link a{
    padding: 4.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
}

.devider{
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
    margin-top: 80px;
    margin-bottom: 30px;
}

.footer p{
    color: #FAFAFA;
    text-align: center;
}
